<template>
  <div class="page intro-page">
    <page-window ref="window"></page-window>
    <page-anim ref="anim"></page-anim>
  </div>
</template>

<script>
import introWindow from '../components/intro-components/intro-window';
import introAnim from '../components/intro-components/intro-animation';

export default {
  data() {
    return {
    }
  },
  methods: {
    initIntro() {
      this.$refs.window.removeWindow();
      this.$refs.anim.initAnim();
    },
  },
  components: {
    'page-window': introWindow,
    'page-anim': introAnim,
  }
}
</script>

<style>
  .intro-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }

</style>
