<template>
  <div
    class="page main-page"
    ref="mainPage"
    :style="style"
    :class="{ 'main-page-init': initPage }"
  >
    <!-- navigation panel -->

    <page-nav></page-nav>

    <!-- chapters content -->

    <!-- *preview*  -->
    <div
      class="preview"
      :style="{ '--color': `var(--chapter${currChapter}Color)` }"
    >
      <div v-if="currChapter == 0">הסבר על התמצאות בלומדה</div>
      <img v-else :src="chapters[currChapter - 1][2]" />
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import pageNav from "../components/main-components/page-nav.vue";

export default {
  data() {
    return {
      initPage: false,
      chapters: [[  1,  "#AFCDC6",  require("../assets/media/strategy.png"),  "calc(var(--size)*0.4)",  "calc(var(--size)*1.5)",  "התהליכים המבצעיים במפקדות העורף",  "-100%",],[  2,  "#CACCE3",  require("../assets/media/network.png"),  "calc(var(--size)*0.97)",  "calc(var(--size)*0.6)",  "עבודת המטה במפקדה- מושגי בסיס",  "-100%",],[  3,  "#FFEBCE",  require("../assets/media/marking.png"),  "auto",  "calc(var(--size)*0.3)",  "דגשים לעבודת מטה במפקדה",  "0%",],[  4,  "#FFB2B7",  require("../assets/media/repair-tools.png"),  "calc(var(--size)*3.03)",  "calc(var(--size)*0.6)",  "כלי עזר",  "100%",],[  5,  "#C8E1A7",  require("../assets/media/business.png"),  "calc(var(--size)*3.6)",  "calc(var(--size)*1.5)",  "האתגרים במפקדה",  "100%",],
      ],
    };
  },
  methods: {
    switchChapter(i) {
      this.$store.commit("changeChapter", i);
    },
  },
  mounted() {
    setTimeout(() => {
      this.initPage = true;
    }, 10);
  },
  computed: {
    style() {
      return {
        "--currChapterColor": `var(--chapter${this.currChapter}Color)`,
        "--chapter0Color": "var(--backColor2)",
      };
    },
    ...mapState(["currChapter"]),
  },
  components: {
    "page-nav": pageNav,
  },
  provide() {
    return {
      chapters: this.chapters,
      switchChapter: this.switchChapter,
    }
  },
};
</script>

<style>
.main-page {
  transition: background-color 0.5s;
  --navconSize: 25em;
  position: fixed;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1s;
}

.main-page-init {
  opacity: 1;
}
</style>

<style scoped *style for preview*>
.preview {
  z-index: -4;
  width: 90vw;
  height: 45vw;
  max-height: 90vh;
  user-select: none;
  font-size: 5em;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color);
  border-radius: 1em;
}
.preview div {
  color: var(--color);
  filter: brightness(70%);
  transition: color 1s;
}
.preview img {
  width: auto;
  height: auto;
  max-width: 20%;
  max-height: 100%;
}

.btn-c {
  position: absolute;
  width: 8rem;
  height: 4rem;
  border-radius: 1rem;
  bottom: 5%;
  --size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next {
  background-color: rgba(167, 255, 167, 0.4);
  left: 20%;
}
.back {
  background-color: rgba(255, 141, 141, 0.4);
  right: 20%;
}
</style>