<template>
  <div
    class="intro-page-window"
    ref="window"
    :style="{ '--opacity': windowOpacity }"
  >
    <div class="intro-page-window-title">לומדת עבודת המטה</div>
    <div class="intro-page-window-text">הערכת זמן משוערת ללומדה: 0 דקות</div>
    <div class="btn intro-page-window-button" @click="this.$parent.initIntro">
      התחל
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      windowOpacity: 1,
    };
  },
  methods: {
    removeWindow() {
      this.windowOpacity = 0;
      this.$refs.window.style.position = "absolute";
      this.$root.fadeOut(this.$refs.window, 0.5);
    },
  },
};
</script>

<style>
.intro-page-window {
  box-shadow: 0em 0em 1vw var(--backColor4);
  --opacity: 1;
  width: 70vw;
  height: 35vw;
  background-color: var(--backColor2);
  border-radius: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.intro-page-window::before {
  content: "";
  position: absolute;
  width: 71vw;
  height: 36vw;
  background-color: var(--backColor4);
  border-radius: 5em;
  z-index: -1;
  opacity: var(--opacity);
  transition: none;
  background: conic-gradient(
    #afcdc6 0% 20%,
    #cacce3 20% 40%,
    #ffebce 40% 60%,
    #ffb2b7 60% 80%,
    #c8e1a7 80% 100%
  );
}

.intro-page-window-title {
  font-size: 5.5rem;
  font-weight: bold;
  color: var(--backColor4);
  text-shadow: 0.05em 0.025em 0 var(--backColor3);
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-page-window-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--backColor4);
  text-shadow: 0.05em 0.025em 0 var(--backColor3);
}

.intro-page-window-button {
  font-size: 3rem;
  font-weight: bold;
  color: var(--backColor1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0.5em;
  position: relative;
  border-radius: 0.2em;
}

.intro-page-window-button::before {
  border-radius: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--backColor3);
  background: conic-gradient(
    #afcdc6 0% 20%,
    #cacce3 20% 40%,
    #ffebce 40% 60%,
    #ffb2b7 60% 80%,
    #c8e1a7 80% 100%
  );
  filter: brightness(85%);
}
.intro-page-window-button::after {
  border-radius: inherit;
  content: "התחל";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--backColor4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}

.intro-page-window-button:hover::after {
  transform: scale(0.95);
}
.intro-page-window-button:active::after {
  transform: scale(0.9);
}
</style>