<template>
    <div class="intro-page-animation-con hidden" ref="container">
        <div class="animation-text" :class="{'animation-text-closed': openedBalls}"
         ref="animtext">
            <div class="text-big">
                ברוכים הבאים ללומדת עבודת המטה במפקדה!
            </div>
            <div class="text-mid">
                הלומדה בנויה מחמש יחידות לימוד
            </div>
        </div>
        <div class="animation-balls" :class="{'animation-balls-open': moveBallsCollum}">
            <div class="animation-balls-con" :class="{'animation-balls-con-out': finishAnim}" ref="balls">
                <div class="animation-ball"
                v-for="ball in balls" :key="ball"
                :class="{ 'ball-move-row': moveBallsRow, 'ball-move-collum': moveBallsCollum, 'ball-move-out': finishAnim}"
                :style="{
                     '--top': `calc( 50% - var(--ballSize)/2 - ${ball[0]}*(var(--ballSize)*1.2))`,
                    'background-color': ball[4],
                    '--color': ball[4]
                 }"
                >
                    <img alt="logo" class="animation-ball-logo"
                     :src="ball[3]"
                    >
                    <div class="ball-num">
                        {{ball[2]}}
                    </div>
                    <div class="ball-text">
                        {{ball[1]}}
                    </div>
                </div>
            </div>
        </div>
        <div class="move-balls-button text-small btn disabled pulse" ref="moveBtn"
         :class="{'move-balls-button-open': moveBallsRow}"
         @click="openBalls"
         >
            <p class="move-balls-button-text">
            מהן חמשת יחידות הלימוד?
            </p>
        </div>
    </div>
</template>

<script>
import router from "../../router/index.js";
export default {
    
    data() {
      return {
          balls: [
              [2,'התהליכים המבצעיים במפקדות העורף', '1', require('../../assets/media/strategy.png'), '#AFCDC6']
              ,[1,'עבודת המטה במפקדה- מושגי בסיס', '2', require('../../assets/media/network.png'), '#CACCE3']
              ,[0,'דגשים לעבודת מטה במפקדה', '3', require('../../assets/media/marking.png'), '#FFEBCE']
              ,[-1,'כלי עזר', '4', require('../../assets/media/repair-tools.png'), '#FFB2B7']
              ,[-2,'האתגרים במפקדה', '5', require('../../assets/media/business.png'), '#C8E1A7']
            ],
          moveBallsRow: false,
          moveBallsCollum: false,
          openedBalls: false,
          disableListener: false,
          finishAnim: false
          };
    },
    methods: {
        initAnim() {
                this.$root.fadeIn(this.$refs.container, 0.5);
                setTimeout(() => {
                    this.moveBallsRow = true;
                }, 1000);
        },
        openBalls() {
            if (!this.openedBalls) {
                this.openedBalls = true;
                this.$refs.moveBtn.classList.remove('move-balls-button-open');
                this.moveBallsCollum = true;
                setTimeout(() => {
                    this.$refs.moveBtn.firstChild.textContent = 'אני מוכן להמשיך'
                    this.$refs.moveBtn.classList += ' move-balls-button-open2';
                }, 2000);                
            } else {
                this.moveBallsCollum = false;
                this.moveBallsRow = false;
                setTimeout(() => {
                    this.finishAnim = true;
                    setTimeout(() => {
                        router.push('main');
                    }, 1000);
                }, 1000);
            }
        }
    },
};
</script>

<style>
    .intro-page-animation-con {
        --ballSize: 8rem;
        --ballMiddle: calc(50% - var(--ballSize)/2);
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }

    .animation-text {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: height 1s, opacity 1s;
    }
    .animation-text-closed {
        opacity: 0;
        height: calc(50% - var(--ballSize)/2);
    }

    .animation-text > div {
        margin: 0.5em 0;
    }

    .text-big {
        font-size: 3em;
        text-shadow: .04em .02em .0em var(--backColor3);
    }
    .text-mid {
        font-size: 2.5em;
        text-shadow: .04em .02em .0em var(--backColor3);
    }
    .text-small {
        font-size: 1.5em;
        text-shadow: .04em .02em .0em var(--backColor3);
    }

    .animation-balls {
        height: calc(var(--ballSize)*3);
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        transition: height 1s;
    }
    .animation-balls-open {
        height: calc(50% + var(--ballSize)/2);
        --ballSize: 7rem;
    }

    .animation-balls-con {
        height: var(--ballSize);
        width: var(--ballSize);
        position: absolute;
        top: 0;
        right: var(--ballMiddle);
        transition: top 1s, right 1s;
    }
    .animation-balls-con-out {
        right: calc(var(--ballSize)*-1.1);
    }

    .animation-ball {
        color: var(--color);
        border-radius: 50%;
        height: var(--ballSize);
        width: var(--ballSize);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: var(--ballMiddle);
        right: var(--ballMiddle);
        transition: top 1s, right 1s, height 1s, width 1s;
        --ballTextOpacity: 0;
    }
    .animation-ball::before {
        content: '';
        position: absolute;
        box-shadow: .0em .0em .5em var(--color);
        border-radius: 50%;
        height: var(--ballSize);
        width: var(--ballSize);
        filter: brightness(50%);
        transition: top 1s, right 1s, height 1s, width 1s;
    }

    .animation-ball-logo {
        width: 60%;
    }

    .ball-move-row {
        right: var(--top);
    }
    .ball-move-collum {
        right: var(--ballMiddle);
        top: var(--top);
        --ballTextOpacity: 1;
    }
    .ball-move-out {
        right: 0;
    }

    .ball-text {
        white-space: nowrap;
        position: absolute;
        right: calc(var(--ballSize)*1.2);
        opacity: var(--ballTextOpacity);
        transition: opacity 0.5s, right 0.5s;
        font-size: 1.5em;
        font-weight: bold;
        filter: brightness(80%);
    }
    
    .ball-num {
        position: absolute;
        left: calc(var(--ballSize)*1.2);
        opacity: var(--ballTextOpacity);
        transition: opacity 0.5s, left 0.5s;
        font-size: 3.5em;
        font-weight: bold;
        filter: brightness(80%);
    }

    .move-balls-button-open {
        height: 8em !important;
        pointer-events: all !important;
    }
    .move-balls-button-open2 {
        height: 3em !important;
        pointer-events: all !important;
    }

    .move-balls-button {
        pointer-events: none;
        overflow: hidden;
        background-color: var(--backColor2);
        height: 0;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: height .5s, font-size 0.5s, padding 0.5s;
    }
    .pulse {
        animation: pulse 3s infinite;
    }
    .move-balls-button-text {
        margin: 0;
        padding: 0.2em 0.8em;
        background-color: var(--backColor1);
        border-radius: 1em;
    }
    .move-balls-button {
        font-size: 2em !important;
    }
    .move-balls-button-open.move-balls-button:hover, .move-balls-button-open2.move-balls-button:hover{
        padding: 1em 0;
    }
    @keyframes pulse {
    0% {filter: brightness(100%);}50% {filter: brightness(105%);}100% {filter: brightness(100%);}}
</style>