<template>
  <router-view />
</template>

<script>
export default {
  methods: {
    fadeOut(el, num) {
      el.style.transition = `opacity ${num}s`;
      el.style.opacity = 0;
      setTimeout(() => {
        el.classList += ' hidden';
      }, num*1000);
    },

    fadeIn(el, num) {
      el.style.transition = `opacity ${num}s`;
      el.style.display = 'flex';
      setTimeout(() => {
        el.style.opacity = 1;
      }, 100);
      setTimeout(() => {
        el.classList.remove('hidden')
      }, num*1000);
    }
  }
};
</script>

<style>
@font-face {
  font-family: myFont;
  src: url('assets/fonts/Heebo-SemiBold.ttf');
}

:root {
  --backColor1: #f2f6ff;
  --backColor2: #d5e2ff;
  --backColor3: #b2bedb;
  --backColor4: #475576;
  --lightBlue: #b0c8ff;
  font-size: 1vw;
  --chapter1Color: #afcdc6;
  --chapter2Color: #cacce3;
  --chapter3Color: #ffebce;
  --chapter4Color: #ffb2b7;
  --chapter5Color: #c8e1a7;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--backColor1);
  font-family: myFont;
  direction: rtl;
  /* overflow: hidden; */
}

::selection {
  background: var(--backColor3);
}

img {
  pointer-events: none;
}

#app {
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  height: 100%;
}

.btn {
  cursor: pointer;
  user-select: none;
}

.hidden {
  display: none;
  opacity: 0;
}
</style>
