<template>
  <div
    class="page-nav-btn"
    :class="{
      'page-nav-btn-init': this.$parent.initPage,
      'page-nav-open': currChapter == 0,
    }"
  >
    <div class="arrow left"></div>
    <div class="page-nav-con-under"></div>
    <div class="page-nav-con">
      <page-nav-icon
        v-for="chapter in chapters"
        :key="chapter[0]"
        :data="chapter"
      ></page-nav-icon>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import navIcon from "./page-nav-icon.vue";

export default {
  components: {
    "page-nav-icon": navIcon,
  },
  computed: {
    ...mapState(["currChapter"]),
  },
  inject: ["chapters"],
};
</script>

<style>
.page-nav-btn {
  --size: calc(var(--navconSize) / 2.5);
  box-shadow: 0em 0em 0.5em var(--backColor4);
  border-radius: 50%;
  height: var(--size);
  width: var(--size);
  background-color: var(--currChapterColor);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: calc(50% - var(--size) / 2);
  right: calc(var(--size) * -1.3);
  transition: right 0.5s, background-color 0.5s;
  --conRight: calc((var(--navconSize)) * -1);
}
.page-nav-btn-init {
  right: calc(var(--size) * -0.7);
}
.page-nav-btn-init:hover,
.page-nav-btn-init.page-nav-open {
  right: calc(var(--size) * -0.6);
  --conRight: calc(var(--navconSize) * -0.5);
}

.arrow {
  --arrowSize: calc(var(--size) / 25);
  border: solid var(--currChapterColor);
  border-width: 0 var(--arrowSize) var(--arrowSize) 0;
  display: inline-block;
  padding: calc(var(--size) / 12);
  margin: calc(var(--size) / 10);
  filter: brightness(70%);
  transition: border 0.5s;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.page-nav-con {
  --size: var(--navconSize);
  border-radius: 50%;
  height: var(--size);
  width: var(--size);
  background-color: var(--backColor2);
  /* background: conic-gradient(black 0% 50%,var(--chapter5Color) 50% 60%, var(--chapter4Color) 60% 70%, var(--chapter3Color) 70% 80%, var(--chapter2Color) 80% 90%, var(--chapter1Color) 90% 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: var(--conRight);
  transition: right 0.5s;
  z-index: -2;
  transform: scale(0.96);
  box-shadow: 0em 0em calc(var(--navconSize) * 0.025) var(--backColor4);
}
.page-nav-open .page-nav-con {
  box-shadow: none;
}
.page-nav-con-under {
  --size: calc(var(--navconSize) * 1);
  border-radius: inherit;
  height: var(--size);
  width: var(--size);
  background-color: var(--backColor4);
  background: conic-gradient(
    transparent 0% 50%,
    var(--chapter5Color) 50% 60%,
    var(--chapter4Color) 60% 70%,
    var(--chapter3Color) 70% 80%,
    var(--chapter2Color) 80% 90%,
    var(--chapter1Color) 90% 100%
  );
  position: fixed;
  right: var(--conRight);
  transition: right 0.5s;
  z-index: -3;
}

.page-nav-open .page-nav-con::before {
  content: "";
  --size: var(--navconSize);
  border-radius: inherit;
  height: var(--size);
  width: var(--size);
  background-color: var(--backColor4);
  background: conic-gradient(
    transparent 0% 50%,
    var(--chapter5Color) 50% 60%,
    var(--chapter4Color) 60% 70%,
    var(--chapter3Color) 70% 80%,
    var(--chapter2Color) 80% 90%,
    var(--chapter1Color) 90% 100%
  );
  right: var(--conRight);
  transition: right 0.5s;
  z-index: -1;
}
</style>