<template>
  <div
    :tool="data[5]"
    class="page-nav-icon btn"
    :key="data[0]"
    :style="{
      '--color': data[1],
      top: data[3],
      left: data[4],
      '--toolpos': data[6],
    }"
    :class="{
      'page-nav-icon-open': currChapter == data[0] || currChapter == 0,
    }"
    @click="switchChapter(data[0])"
  >
    <img :src="data[2]" />
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: {
    data: Array,
  },
  computed: {
    ...mapState(["currChapter"]),
  },
  inject: ["switchChapter"],
};
</script>

<style>
.page-nav-icon {
  --size: calc(var(--navconSize) / 5);
  /* box-shadow: .0em .0em .5em var(--backColor4); */
  border-radius: 50%;
  height: var(--size);
  width: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--color);
  transition: filter 0.2s, transform 0.2s;
  filter: grayscale(1);
  transform: scale(0.7);
}
.page-nav-icon-open {
  transform: scale(1);
  filter: none;
}
.page-nav-open .page-nav-icon:hover {
  transform: scale(1.2);
  filter: none;
  cursor: pointer;
  z-index: 1;
}
.page-nav-icon img {
  width: 60%;
}
.page-nav-icon:hover::after {
  /* text element  */
  content: attr(tool);
  transform: translate(calc(-50% - 4rem), 0%);
  /* transform: translate(calc(-50% - calc(var(--size)/2)), 0%); */
  position: absolute;
  white-space: nowrap;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.page-nav-icon:hover::before {
  /* background element  */
  content: attr(tool);
  transform: translate(calc(-50% - 4rem), 0%);
  /* transform: translate(calc(-50% - calc(var(--size)/2)), 0%); */
  position: absolute;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--color);
  filter: brightness(90%);
}
</style>